<section class="hero-section">
  <div class="container">
    <div class="row">
      <!-- Left Content with Text Above Image -->
      <div class="col-12 col-md-7 hero-item hero-item-left">
        <div class="hero-text">
          <h2>Bring the Flavors of Sri Lanka to Your Kitchen.</h2>
          <p>Experience the true taste of Sri Lankan cuisine with authentic ingredients, now within your reach in
            Ireland.</p>
          <a [routerLink]="['/', 'browse']" class="hero-button">Shop Now</a>
        </div>
        <img src="assets/images/market.jpg" alt="View of Sri Lanka Market" class="hero-image">
      </div>

      <!-- Right Content with Image and Text -->
      <div class="col-12 col-md-5 hero-item hero-item-right">
        <img src="assets/images/food2.jpg" alt="Sri Lankan Ingredients" class="hero-image">
        <div class="hero-text">
          <h2>Your Source for Authentic Sri Lankan Ingredients.</h2>
          <p>Explore our selection of high-quality spices and products, essential for creating the dishes you love.</p>
        </div>
      </div>
    </div>
  </div>
</section>
